{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
 <main class="main">

    <!-- Page Title -->
    <div class="page-title light-background">
      <div class="container d-lg-flex justify-content-between align-items-center">
        <h1 class="mb-2 mb-lg-0">{% trans "درباره ما" %}</h1>
        <nav class="breadcrumbs">
          <ol>
            <li><a href="{% url 'home' %}">{% trans "صفحه خانه" %}</a></li>
            <li class="current">{% trans "درباره ما" %}</li>
          </ol>
        </nav>
      </div>
    </div><!-- End Page Title -->

    <!-- About Section -->
    <section id="about" class="about section">

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row align-items-center">
          <div class="col-lg-5 h-100" style="">
            <div class="image-stack h-100">
              <div class="main-image-wrapper h-100" data-aos="fade-right" data-aos-delay="200">
                <img src="{% static 'assets/img/hotel/showcase-9.jpg' %}" alt="Hotel Exterior" class="img-fluid main-image full-fit h-100">
              </div>
            </div>
          </div>

          <div class="col-lg-7 h-100">
            <div class="content-wrapper h-100" data-aos="fade-left" data-aos-delay="200">

              <p class="lead">
                  {% trans "ما که هستیم و چه می‌کنیم" %}                
              </p>


              <h2>{% trans "درباره مجموعه ما" %}</h2>
              
              <p class="lead">
                {% trans "معرفی هلدینگ راه ابریشم نو و چشم‌انداز آینده" %}
              </p>

              <p>
                {% trans "هلدینگ راه ابریشم نو مسیر توسعه تحول جهانی با هدف ایجاد تحولی پایدار در اقتصاد کشور و ارتقای بهره‌وری در صنایع کشاورزی، دامپروری و آبزی‌پروری در آذرماه 1402 تأسیس شد. این مجموعه با سرمایه‌ای 2000 میلیارد ریالی و نگاهی بلندمدت به آینده، فعالیت خود را آغاز کرد و در مدت کوتاهی توانست با اخذ مجوزهای لازم، به یکی از بازیگران اصلی در تأمین نهاده‌های دامی کشور تبدیل شود." %}
              </p>

              <p>
               {% trans "ما در راه ابریشم نو باور داریم که امنیت غذایی، یکی از حیاتی‌ترین نیازهای جوامع مدرن است و تلاش کرده‌ایم با ایجاد زنجیره‌های ارزش در صنایع مرتبط، این نیاز را با بالاترین کیفیت پاسخ دهیم. از تولید محصولات دانش‌بنیان مانند کیتوزان و خوراک طیور پروبیوتیک گرفته تا طراحی و اجرای پروژه‌های نوآورانه با استفاده از فناوری‌های پیشرفته، همگی در راستای این هدف بزرگ بوده‌اند." %}
              </p>
                
              <p class="lead">
                {% trans "چشم‌انداز آینده" %}
                </p>

              <p>
                {% trans "چشم‌انداز ما فراتر از مرزهای کشور است. ما در تلاشیم تا با توسعه همکاری‌های بین‌المللی، از جمله شراکت با مجموعه‌هایی همچون CP Group، دانش و فناوری روز دنیا را به کشور وارد کنیم و ایران را به قطبی برجسته در تولید محصولات کشاورزی و دامی در منطقه تبدیل کنیم." %}
              </p>

              <p>
                {% trans "هدف ما تنها تولید بیشتر نیست؛ بلکه بهبود کیفیت محصولات، کاهش ضایعات، و افزایش بهره‌وری در تمامی مراحل زنجیره تولید است. این رویکرد ما را قادر می‌سازد تا نه‌تنها نیازهای داخلی را به بهترین شکل ممکن برآورده کنیم، بلکه در بازارهای جهانی نیز حضوری پررنگ داشته باشیم." %}
              </p>
              </p>

              <p class="lead">
                {% trans "ارزش‌های سازمانی هلدینگ راه ابریشم نو" %}
              </p>

              <p>
                {% trans "1. نوآوری و فناوری‌محوری: در دنیای امروز، نوآوری کلید پیشرفت است. ما در راه ابریشم نو همواره به دنبال استفاده از جدیدترین فناوری‌ها و راهکارهای خلاقانه برای حل چالش‌های پیش‌روی صنایع کشاورزی و دامپروری هستیم." %}
              </p>

              <p>
                {% trans "2. تعهد به پایداری: پایداری محیط‌زیست و توسعه پایدار، از ارزش‌های بنیادین ماست. تمامی فعالیت‌های ما با هدف حفظ منابع طبیعی و حمایت از نسل‌های آینده طراحی و اجرا می‌شوند." %}
              </p>

              <p>
                {% trans "3. استفاده از ظرفیت‌های داخلی: ما به توانایی‌ها و دانش نخبگان ایرانی باور داریم و تلاش می‌کنیم بستری برای رشد استعدادهای داخلی فراهم کنیم. همکاری با دانشگاه‌ها، مراکز تحقیقاتی، و کارآفرینان جوان، یکی از اولویت‌های ماست." %}
              </p>
              </p>

              <p>
                {% trans "4. همکاری‌های بین‌المللی: هلدینگ راه ابریشم نو معتقد است که پیشرفت در گرو تعامل و همکاری جهانی است. ما با شرکای بین‌المللی خود به‌دنبال انتقال دانش، توسعه زیرساخت‌ها و ایجاد فرصت‌های جدید هستیم." %}
              </p>
              </p>

              <p>
                {% trans "5. توجه به مشتریان و ذینفعان: رضایت مشتریان و ارزش‌آفرینی برای ذینفعان، محور اصلی تمامی تصمیمات و فعالیت‌های ماست." %}
              </p>

            </div>
          </div>
        </div>

        <div class="row features-showcase">
          <div class="col-12">
            <div class="features-header text-center" data-aos="fade-up" data-aos-delay="100">
              <p>
                {% trans "از مزرعه تا سفره​​​​​​​" %}
              </p>
              <br>
              <h5>
                {% trans "هدف ما استفاده بهینه از تمام ظرفیت ها" %}
              </h5>
              <h5>
                {% trans "برای رسیدن به توسعه پایدار است" %}
              </h5>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-3 col-md-6">
            <div class="feature-card" data-aos="flip-up" data-aos-delay="200">
              <div class="feature-visual">
                <img src="{% static 'assets/img/hotel/amenities-3.webp' %}" alt="Spa Services" class="img-fluid">
              </div>
              <div class="feature-details">
                <h4>
                  {% trans "تعداد پرسنل مجموعه" %}
                </h4>
                <p>
                  {% trans "22 نفر شرکت اصلی" %}
                </p>
                <p>
                  {% trans "43 نفر زیر مجموعه های شرکت" %}
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="feature-card" data-aos="flip-up" data-aos-delay="250">
              <div class="feature-visual">
                <img src="{% static 'assets/img/hotel/dining-4.webp' %}" alt="Fine Dining" class="img-fluid">
              </div>
              <div class="feature-details">
                <h4>{% trans "ساعت کار" %}</h4>
                <p>{% trans "شنبه تا پنجشنبه" %}</p>
                <p>
                  {% trans "​​​​​​​ساعت 8 الی 16" %}
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="feature-card" data-aos="flip-up" data-aos-delay="300">
              <div class="feature-visual">
                <img src="{% static 'assets/img/hotel/location-2.webp' %}" alt="Prime Location" class="img-fluid">
              </div>
              <div class="feature-details">
                <h4>{% trans "مشتریان" %}</h4>
                <p>{% trans "مشتریان ما طیف وسیعی از دامداران و پرورش دهندگان طیور و آبزیان و همچنین کارخانه های خوراک دام و طیور در کشور میباشند" %}</p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="feature-card" data-aos="flip-up" data-aos-delay="300">
              <div class="feature-visual">
                <img src="{% static 'assets/img/hotel/location-2.webp' %}" alt="Prime Location" class="img-fluid">
              </div>
              <div class="feature-details">
                <h4>{% trans "شرکاری تجاری" %}</h4>
                <p>{% trans "ما همواره در تلاشیم تا با ارتباط موثر با شرکت های داخلی و خارجی نیازهای مشتریان خود را برطرف نماییم" %}</p>
              </div>
            </div>
          </div>
        </div>
      </div>

    </section><!-- /About Section -->

    <!-- Rooms Showcase Section -->
    <section id="rooms-showcase" class="rooms-showcase section">

      

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row mt-6">
          <div class="col-lg-3 col-sm-6" data-aos="fade-up" data-aos-delay="400">
            <div class="minimal-room-card">
              <div class="room-image">
                <img src="{% static 'assets/img/hotel/room-1.png' %}" alt="Classic Room" class="img-fluid">
              </div>
              <div class="room-summary">
                <h5>{% trans "تحقیق و تجزیه و تحلیل" %}</h5>
                <div class="basic-amenities">
                </div>
              </div>
            </div>
          </div><!-- End Minimal Room -->

          <div class="col-lg-3 col-sm-6" data-aos="fade-up" data-aos-delay="450">
            <div class="minimal-room-card">
              <div class="room-image">
                <img src="{% static 'assets/img/hotel/room-5.webp' %}" alt="Superior Room" class="img-fluid">
                <div>
                  <a href="room-details.html" class="view-room">
                    <i class="bi bi-eye"></i>
                  </a>
                </div>
              </div>
              <div class="room-summary">
                <h5>{% trans "توسعه پایدار​​​​​​​" %}</h5>
                <div class="basic-amenities">
                </div>
              </div>
            </div>
          </div><!-- End Minimal Room -->

          <div class="col-lg-3 col-sm-6" data-aos="fade-up" data-aos-delay="500">
            <div class="minimal-room-card">
              <div class="room-image">
                <img src="{% static 'assets/img/hotel/room-8.webp' %}" alt="Premium Room" class="img-fluid">
                <div>
                  <a href="room-details.html" class="view-room">
                    <i class="bi bi-eye"></i>
                  </a>
                </div>
              </div>
              <div class="room-summary">
                <h5>{% trans "سیستم سازی" %}</h5>
                <div class="basic-amenities">
                </div>
              </div>
            </div>
          </div><!-- End Minimal Room -->

          <div class="col-lg-3 col-sm-6" data-aos="fade-up" data-aos-delay="550">
            <div class="minimal-room-card">
              <div class="room-image">
                <img src="{% static 'assets/img/hotel/room-17.webp' %}" alt="Luxury Suite" class="img-fluid">
                <div>
                  <a href="room-details.html" class="view-room">
                    <i class="bi bi-eye"></i>
                  </a>
                </div>
              </div>
              <div class="room-summary">
                <h5>{% trans "هدف گذاری" %}</h5>
                <div class="basic-amenities">
                </div>
              </div>
            </div>
          </div><!-- End Minimal Room -->

        </div>
        
      </div>

    </section><!-- /Rooms Showcase Section -->

  </main>

  {% endblock %}
