{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>NSR COMPANY</title>
  <meta name="description" content="">
  <meta name="keywords" content="">

  <!-- Favicons -->
  <link href="{% static 'assets/img/nsr_logo.png' %}" rel="icon">
  <link href="{% static 'assets/img/nsr_logo.png' %}" rel="apple-touch-icon">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vazirmatn@33.003/dist/font-face.css"/>
  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">



  <!-- Main CSS File -->
  <link href="{% static 'assets/css/main.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Grandoria
  * Template URL: https://bootstrapmade.com/grandoria-bootstrap-hotel-template/
  * Updated: Jul 29 2025 with Bootstrap v5.3.7
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body class="index-page">
  {% if messages %}
    {% for message in messages %}
    <div id="django-message"
         data-text="{{ message }}"
         data-icon="{{ message.tags }}">
    </div>
    {% endfor %}
  {% endif %}
  <header id="header" class="header sticky-top">

    <div class="topbar d-flex align-items-center dark-background">
      <div class="container d-flex justify-content-center justify-content-md-between">
        <div class="contact-info">
         {% if request.user.is_authenticated %}

                  <a href="{% url 'website_accounts:profile_view' %}">
                      <i class="bi bi-person-circle" style="font-size: 1.5rem;"></i>
                      <span class="ms-2" style="color: white;">{% trans "پروفایل" %}</span>
                  </a>
              

              {% else %}

                  <i class="bi bi-person-circle" style="font-size: 1.5rem;"></i>
                  <span class="ms-2" style="color: white;">
                      <a href="{% url 'website_accounts:register' %}" style="color:white;">{% trans "افتتاح حساب" %}</a>
                      /
                      <a href="{% url 'website_accounts:login' %}" style="color:white;">{% trans "ورود به حساب" %}</a>
                  </span>

          {% endif %}

        </div>
        <div class="social-links d-none d-md-flex align-items-center">
          {% if request.user.is_authenticated %}
          <a href="{% url 'website_accounts:logout' %}" >
            {% trans "خروج از حساب" %}
          </a>
          {% endif %}
        </div>
      </div>
    </div><!-- End Top Bar -->

    <div class="branding d-flex align-items-cente">

      <div class="container position-relative d-flex align-items-center justify-content-between">
        <a href="index.html" class="logo d-flex align-items-center">
          <!-- Uncomment the line below if you also wish to use an image logo -->
          <!-- <img src="assets/img/logo.webp" alt=""> -->
          <h1 class="sitename">NSR COMPANY</h1>
        </a>

        <nav id="navmenu" class="navmenu">
          <ul>
            <li><a href="{% url 'home' %}" class="{% if request.resolver_match.url_name == 'home' %}active{% endif %}">{% trans "صفحه خانه" %}</a></li>
            <li><a href="{% url 'about' %}" class="{% if request.resolver_match.url_name == 'about' %}active{% endif %}">{% trans "درباره ما" %}</a></li>
            <li><a href="{% url 'news_list' %}" class="{% if request.resolver_match.url_name == 'news_list' %}active{% endif %}">{% trans "پایگاه خبری" %}</a></li>
            <li><a href="{% url 'investment' %}" class="{% if request.resolver_match.url_name == 'investment' %}active{% endif %}">{% trans "سرمایه گذاری" %}</a></li>
            <li class="dropdown"><a href="#"><span>{% trans "بازرگانی" %}</span> <i class="bi bi-chevron-down toggle-dropdown" style="margin: 5px;"></i></a>
              <ul>
                  <li><a href="{% url 'purchase_livestock' %}">{% trans "خرید و فروش نهاد های دامی" %}</a></li>
                  <li><a href="{% url 'organic_products' %}">{% trans "محصولات ارگانیک" %}</a></li>
              </ul>
            </li>
            <li class="dropdown"><a href="#"><span>{% trans "پروژه ها" %}</span> <i class="bi bi-chevron-down toggle-dropdown" style="margin: 5px;"></i></a>
              <ul>
                  <li><a href="{% url 'animal_feed_khoshab' %}">{% trans "خوراک دام خوشاب" %}</a></li>
                  <li><a href="{% url 'mother_chicken_farm' %}">{% trans "مزرعه مرغ مادر" %}</a></li>
                  <li><a href="{% url 'iaying_hen' %}">{% trans "مجموعه مرغ تخم گذار" %}</a></li>
                  <li><a href="{% url 'supplying_livestock' %}">{% trans "تامین نهاد های دامی" %}</a></li>
                  <li><a href="{% url 'animal_refinery' %}">{% trans "پالایشگاه دام" %}</a></li>
                  <li><a href="{% url 'plant_refinery' %}">{% trans "پالایشگاه گیاهان دارویی" %}</a></li>
              </ul>
            </li>
            <li class="dropdown"><a href="#"><span>{% trans "رویداد ها" %}</span> <i class="bi bi-chevron-down toggle-dropdown" style="margin: 5px;"></i></a>
              <ul>
                  <li><a href="{% url 'animal_feed' %}">{% trans "خوراک دام و طیور و آبزیان" %}</a></li>
              </ul>
            </li>
            <li><a href="{% url 'contact' %}" class="{% if request.resolver_match.url_name == 'contact' %}active{% endif %}">{% trans "تماس با ما" %}</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" style="gap: 5px;">
                <svg class="icon" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <g id="SVGRepo_iconCarrier">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M4 0H6V2H10V4H8.86807C8.57073 5.66996 7.78574 7.17117 6.6656 8.35112C7.46567 8.73941 8.35737 8.96842 9.29948 8.99697L10.2735 6H12.7265L15.9765 16H13.8735L13.2235 14H9.77647L9.12647 16H7.0235L8.66176 10.9592C7.32639 10.8285 6.08165 10.3888 4.99999 9.71246C3.69496 10.5284 2.15255 11 0.5 11H0V9H0.5C1.5161 9 2.47775 8.76685 3.33437 8.35112C2.68381 7.66582 2.14629 6.87215 1.75171 6H4.02179C4.30023 6.43491 4.62904 6.83446 4.99999 7.19044C5.88743 6.33881 6.53369 5.23777 6.82607 4H0V2H4V0ZM12.5735 12L11.5 8.69688L10.4265 12H12.5735Z" fill="currentColor"></path>
                  </g>
                </svg>
                <span>{% get_current_language as LANGUAGE_CODE %}{% if LANGUAGE_CODE == 'fa' %}English{% else %}فارسی{% endif %}</span>
              </a>

              <ul class="dropdown-menu">
                <li>
                  <form action="{% url 'set_language' %}" method="post" style="display:inline;">
                    {% csrf_token %}
                    <input name="next" type="hidden" value="{{ request.path }}">
                    <input type="hidden" name="language" value="fa">
                    <button type="submit" class="dropdown-item">English</button>
                  </form>
                </li>
                <li>
                  <form action="{% url 'set_language' %}" method="post" style="display:inline;">
                    {% csrf_token %}
                    <input name="next" type="hidden" value="{{ request.path }}">
                    <input type="hidden" name="language" value="en">
                    <button type="submit" class="dropdown-item">فارسی</button>
                  </form>
                </li>
              </ul>
            </li>
          </ul>
          <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
        </nav>

      </div>

    </div>

  </header>

{% block content %}

{% endblock %}

<footer id="footer" class="footer position-relative dark-background">

    <div class="footer-top">
      <div class="container">
        <div class="row gy-4">
          <div class="col-lg-4 col-md-6 footer-about">
            <a href="index.html" class="logo d-flex align-items-center">
              <span class="sitename">NSR COMPANY</span>
            </a>
            <div class="footer-contact pt-3">
              <p class="mt-3"><strong>{% trans "شماره تماس" %}:</strong> <span dir="ltr" style="display:inline-block; text-align:left;">+98 915 571 4255</span></p>
              <br>
              <p><strong>{% trans "ایمیل" %}:</strong> <span>nsrcompany.ir@gmail.com</span></p>
            </div>
          </div>

          <div class="col-lg-2 col-md-3 footer-links">
            <h4>{% trans "صفحات اصلی" %}</h4>
            <ul>
              <li><a href="{% url 'home' %}">{% trans "خانه" %}</a></li>
              <li><a href="{% url 'about' %}">{% trans "درباره ما" %}</a></li>
              <li><a href="{% url 'news_list' %}">{% trans "پایگاه خبری" %}</a></li>
              <li><a href="{% url 'investment' %}">{% trans "سرمایه گذاری" %}</a></li>
              <li><a href="{% url 'contact' %}">{% trans "تماس با ما" %}</a></li>
            </ul>
          </div>

          <div class="col-lg-2 col-md-3 footer-links">
            <h4>{% trans "پروژه ها" %}</h4>
            <ul>
              <li><a href="{% url 'animal_feed_khoshab' %}">{% trans "خوراک دام خوشاب" %}</a></li>
              <li><a href="{% url 'mother_chicken_farm' %}">{% trans "مزرعه مرغ مادر" %}</a></li>
              <li><a href="{% url 'iaying_hen' %}">{% trans "مجموعه مرغ تخم گذار" %}</a></li>
              <li><a href="{% url 'supplying_livestock' %}">{% trans "تامین نهاد های دامی" %}</a></li>
              <li><a href="{% url 'animal_refinery' %}">{% trans "پالایشگاه دام" %}</a></li>
              <li><a href="{% url 'plant_refinery' %}">{% trans "پالایشگاه گیاهان دارویی" %}</a></li>
            </ul>
          </div>

          <div class="col-lg-2 col-md-3 footer-links">
            <h4>{% trans "آدرس های حضوری در ایران" %}</h4>
            <ul>
              <li><a href="{% url 'contact' %}"><p>
              {% trans "سبزوار _میدان طالقانی_ساختمان اکسیژن" %}
              </p></a></li>
              <li><a href="{% url 'contact' %}">{% trans "تهران_میدان فردوسی" %}</a></li>
            </ul>
          </div>

          <div class="col-lg-2 col-md-3 footer-links">
            <h4>Address outside Iran</h4>
            <ul>
              <li><a href="{% url 'contact' %}">
                <h6>New Synergy Road</h6>
                <p>China, Shanghai</p>
              </a></li>
              <li><a href="{% url 'contact' %}">
                <h6>New Silk Road Eastern Development Trading</h6>
                <p>Dubai Integrated Economic Zones Authority</p>
              </a></li>
            </ul>
          </div>

        </div>
      </div>
    </div>

    <div class="copyright text-center">
      <div class="container d-flex flex-column flex-lg-row justify-content-center justify-content-lg-between align-items-center">

        <div class="d-flex flex-column align-items-center align-items-lg-start">
          <div class="credits">
            <!-- All the links in the footer should remain intact. -->
            <!-- You can delete the links only if you purchased the pro version. -->
            <!-- Licensing information: https://bootstrapmade.com/license/ -->
            <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/herobiz-bootstrap-business-template/ -->
            <h4 style="margin-top: 20px ;">
              {% trans "راه های ارتباطی با ما" %}
            </h4>
          </div>
        </div>

        <div class="social-links order-first order-lg-last mb-3 mb-lg-0">
          <a href=""><i class="bi bi-twitter-x"></i></a>
          <a href=""><i class="bi bi-facebook"></i></a>
          <a href=""><i class="bi bi-instagram"></i></a>
          <a href=""><i class="bi bi-linkedin"></i></a>
        </div>

      </div>
    </div>

  </footer>
  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>


  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'assets/vendor/purecounter/purecounter_vanilla.js' %}"></script>
  <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/imagesloaded/imagesloaded.pkgd.min.js' %}"></script>
  <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

  <!-- Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>

</body>

</html>