{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
  <main class="main">

    <!-- Page Title -->
    <div class="page-title light-background">
      <div class="container d-lg-flex justify-content-between align-items-center">
        <h1 class="mb-2 mb-lg-0">{% trans "تماس با ما" %}</h1>
        <nav class="breadcrumbs">
          <ol>
            <li><a href="{% url 'home' %}">{% trans "صفحه خانه" %}</a></li>
            <li class="current">{% trans "تماس با ما" %}</li>
          </ol>
        </nav>
      </div>
    </div><!-- End Page Title -->

    <!-- Contact Section -->
    <section id="contact" class="contact section">

      <!-- Map Section -->
      <div class="map-container mb-5">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d2980.2706116532654!2d57.67652622761063!3d36.218344480700466!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2s!4v1762962076749!5m2!1sen!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <!-- Contact Info -->
        <div class="row g-4 mb-5" data-aos="fade-up" data-aos-delay="300">
          <div class="col-md-6">
            <div class="contact-info-card">
              <div class="icon-box">
                <i class="bi bi-geo-alt"></i>
              </div>
              <div class="info-content">
                  <h4>{% trans "راه ابریشم نو" %}</h4>
                  <p>{% trans "ایران _ سبزوار _ میدان طالقانی _ ساختمان اکسیژن" %}</p>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="contact-info-card">
              <div class="icon-box">
                <i class="bi bi-geo-alt"></i>
              </div>
              <div class="info-content">
                  <h4>{% trans "راه ابریشم نو" %}</h4>
                  <p>{% trans "ایران _ تهران _ میدان فردوسی" %}</p>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="contact-info-card">
              <div class="icon-box">
                <i class="bi bi-geo-alt"></i>
              </div>
              <div class="info-content">
                <h4>New Synergy Road</h4>
                <p>China, Shanghai</p>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="contact-info-card">
              <div class="icon-box">
                <i class="bi bi-geo-alt"></i>
              </div>
              <div class="info-content">
                <h4>New Silk Road Eastern Development Trading</h4>
                <p>Dubai Integrated Economic Zones Authority</p>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="contact-info-card">
              <div class="icon-box">
                <i class="bi bi-telephone"></i>
              </div>
              <div class="info-content">
                <h4>{% trans "تلفن پشتیبانی" %}</h4>
                <p>+98 9155714255</p>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="contact-info-card">
              <div class="icon-box">
                <i class="bi bi-envelope"></i>
              </div>
              <div class="info-content">
                <h4>{% trans "ایمیل پشتیبانی" %}</h4>
                <p>nsrcompany.ir@gmail.com</p>
              </div>
            </div>
          </div>

        </div>

        <!-- Contact Form -->
        <div class="row justify-content-center mb-5" data-aos="fade-up" data-aos-delay="200">
          <div class="col-lg-10">
            <div class="contact-form-wrapper">
              <h2 class="text-center mb-4">{% trans "با ما در تماس باشید" %}</h2>
              <div class="contact-box">
                <p>{% trans "برای ارتباط با ما و شروع یک همکاری موثر لطفا فرم زیر را تکمیل کنید" %}</p>
                <p>{% trans "نظرات و پیشنهادات شما برای ما ارزشمند است" %}</p>
                <p>{% trans "منتظر پیام شما هستیم" %}</p>
              </div>
              <form action="{% url 'contact' %}" method="post">
                {% csrf_token %}
                <div class="row g-3">
                  <div class="col-md-6">
                    <div class="form-group">
                      <input type="text" class="form-control" name="full_name" placeholder="{% trans 'نام و نام خانوادگی' %}" required="">
                    </div>
                  </div>

                  <div class="col-md-6">
                    <div class="form-group">
                      <input type="email" class="form-control" name="email" placeholder="{% trans 'ایمیل' %}" required="">
                    </div>
                  </div>

                  <div class="col-12">
                    <div class="form-group">
                      <input type="text" class="form-control" name="number" placeholder="{% trans 'شماره تلفن همراه' %}" required="">
                    </div>
                  </div>

                  <div class="col-12">
                    <div class="form-group">
                      <textarea class="form-control" name="message" placeholder="{% trans 'پیام مورد نظر' %}" rows="6" required=""></textarea>
                    </div>
                  </div>

                  <div class="col-12 text-center">
                    <button type="submit" class="btn-submit">{% trans "ارسال پیام" %}</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>

      </div>

    </section><!-- /Contact Section -->

  </main>
{% endblock %}