{% extends 'base.html' %}
{% load static %}

{% block content %}
  <main class="main">

    <!-- Hotel Hero Section -->
    <section id="hotel-hero" class="hotel-hero section">

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4 align-items-center">

          <div class="col-lg-6" data-aos="fade-right" data-aos-delay="200">
            <div class="hero-content">
              <p class="lead">
                ما که هستیم و چه می‌کنیم؟
              </p>
              <h1>درباره مجموعه ما</h1>
              <p class="lead">
                معرفی هلدینگ راه ابریشم نو و چشم‌انداز آینده
              </p>
              <br>
              <div class="hero-buttons">
                <a href="{% url 'about' %}" class="btn btn-primary">صفحه درباره ما</a>
              </div>
            </div>
          </div>

          <div class="col-lg-6" data-aos="fade-left" data-aos-delay="300">
            <div class="hero-images">
              <div class="main-image">
                <img src="{% static 'assets/img/hotel/showcase-3.webp' %}" alt="Luxury Hotel" class="img-fluid">
              </div>
            </div>
          </div>
        </div>
      </div>

    </section><!-- /Hotel Hero Section -->

    <!-- Amenities Cards Section -->
    <section id="amenities-cards" class="amenities-cards section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <p>اخبار</p>
        <br>
        <h3>اخرین اخبار</h3>
      </div><!-- End Section Title -->

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row g-5">
          {% for item in latest_news %}
          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="facility-card">
              <div class="facility-image">
                <img src="{% if item.image %}{{ item.image.url }}{% else %}{% static 'assets/img/DefaultImg/DefaultNews.png' %}{% endif %}" alt="Rooftop Pool" class="img-fluid">
              </div>
              <div class="facility-info">
                <h4>
                  <a href="{% url 'news_detail' item.id %}">
                  {{ item.title }}
                  </a>
                </h4>
                <p>{{ item.content|truncatewords:5 }}</p>
              </div>
            </div>
          </div><!-- End Facility Card -->
          {% endfor %}
        </div>
        <br>
        <div class="text-center mt-4">
          <a href="{% url 'news_list' %}">
           مشاهده همه ی اخبار ها ...
          </a>
        </div>
      </div>

    </section><!-- /Amenities Cards Section -->

    <!-- Testimonials Section -->
    <section id="testimonials" class="testimonials section light-background">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>توسعه پایدار حاصل بهره‌وری بهینه از تمام ظرفیت‌هاست...</h2>
      </div><!-- End Section Title -->

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="testimonials-wrapper">

          <div class="row g-4">

            <!-- Testimonial Item 0 -->
            <div class="col-lg-12" data-aos="fade-up" data-aos-delay="200">
              <div class="testimonial-card">
                <div class="quote-mark">
                  <i class="bi bi-quote"></i>
                </div>
                <div class="testimonial-content">
                  <h4 style="margin-bottom: 50px; margin-right: 17px;">مدیر فروش</h4>
                </div>
                <div class="testimonial-author" style="transform: scale(1.2); transform-origin: right center;">
                  <img src="{% static 'assets/img/person/dashti.jpeg' %}" alt="Client" class="img-fluid rounded-circle" style="margin-left: 9px;" loading="lazy">
                  <div class="author-info" style="margin-right: 11px;">
                    <h4>رضا دشتی</h4>
                    <span>09156591808</span>
                  </div>
                </div>
              </div>
            </div><!-- End Testimonial Item -->

            <!-- Testimonial Item 1 -->
            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
              <div class="testimonial-card">
                <div class="quote-mark">
                  <i class="bi bi-quote"></i>
                </div>
                <div class="testimonial-content">
                  <h4 style="margin-bottom: 50px; margin-right: 17px;">کارشناس فروش</h4>
                </div>
                <div class="testimonial-author" style="transform: scale(1.2); transform-origin: right center;">
                  <img src="{% static 'assets/img/person/khoshbakht.jpg' %}" alt="Client" class="img-fluid rounded-circle" style="margin-left: 9px;" loading="lazy">
                  <div class="author-info" style="margin-right: 11px;">
                    <h4>فاطمه خوشبخت</h4>
                    <span>09108643885</span>
                  </div>
                </div>
              </div>
            </div><!-- End Testimonial Item -->

            <!-- Testimonial Item 2 -->
            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="300">
              <div class="testimonial-card">
                <div class="quote-mark">
                  <i class="bi bi-quote"></i>
                </div>
                <div class="testimonial-content">
                  <h4 style="margin-bottom: 50px; margin-right: 17px;">کارشناس فروش</h4>
                </div>
                <div class="testimonial-author" style="transform: scale(1.2); transform-origin: right center;">
                  <img src="{% static 'assets/img/person/moradi.jpg' %}" alt="Client" class="img-fluid rounded-circle" style="margin-left: 9px;" loading="lazy">
                  <div class="author-info" style="margin-right: 11px;">
                    <h4>زهرا مرادی</h4>
                    <span>09108643892</span>
                  </div>
                </div>
              </div>
            </div><!-- End Testimonial Item -->

            <!-- Testimonial Item 3 -->
            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="400">
              <div class="testimonial-card">
                <div class="quote-mark">
                  <i class="bi bi-quote"></i>
                </div>
                <div class="testimonial-content">
                  <h4 style="margin-bottom: 50px; margin-right: 17px;">کارشناس فروش</h4>
                </div>
                <div class="testimonial-author" style="transform: scale(1.2); transform-origin: right center;">
                  <img src="{% static 'assets/img/person/atefshahreboye.jpg' %}" alt="Client" class="img-fluid rounded-circle" style="margin-left: 9px;" loading="lazy">
                  <div class="author-info" style="margin-right: 11px;">
                    <h4>عاطفه شهربویه</h4>
                    <span>09108643899</span>
                  </div>
                </div>
              </div>
            </div><!-- End Testimonial Item -->

            <!-- Testimonial Item 4 -->
            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="500">
              <div class="testimonial-card">
                <div class="quote-mark">
                  <i class="bi bi-quote"></i>
                </div>
                <div class="testimonial-content">
                  <h4 style="margin-bottom: 50px; margin-right: 17px;">کارشناس فروش</h4>
                </div>
                <div class="testimonial-author" style="transform: scale(1.2); transform-origin: right center;">
                  <img src="{% static 'assets/img/person/fayezeshahreboye.jpg' %}" alt="Client" class="img-fluid rounded-circle" style="margin-left: 9px;" loading="lazy">
                  <div class="author-info" style="margin-right: 11px;">
                    <h4>فائزه شهربویه</h4>
                    <span>09108643890</span>
                  </div>
                </div>
              </div>
            </div><!-- End Testimonial Item -->

          </div>

        </div>

      </div>

    </section><!-- /Testimonials Section -->

    <!-- Offer Cards Section -->
    <section id="offer-cards" class="offer-cards section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <div class="facility-info" style="margin-bottom: 70px;">
        <h2>
           ... بازرگانی ...
        </h2>
        </div>
        <h5>خرید و فروش نهاد های دامی</h5>
      </div><!-- End Section Title -->

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row g-4">
          {% for item in latest_livestock %}
          <div class="col-lg-4 col-md-6">
            <div class="offer-card" data-aos="zoom-in" data-aos-delay="200">
              <div class="offer-image">
                <img src="{% if item.product_photo %} {{ item.product_photo.url }} {% else %} {% static 'assets/img/DefaultImg/DefaultNews.png' %} {% endif %}" class="img-fluid">
              </div>
              <div class="offer-content">
                <h3>{{ item.product_name }}</h3>
                <p>{{ item.product_description|truncatewords:5 }}</p>
                <p>
                  <i class="bi bi-cash-stack"></i>
    قیمت:              {{ item.product_price }} تومان
                </p>
                <a href="{% url 'purchase_livestock_detail' item.pk %}" class="btn-book">خرید</a>
              </div>
            </div>
          </div>
          {% endfor %}
          <!-- Section Title -->
          <div class="container section-title" style="margin-top: 70px;" data-aos="fade-up">
            <h5>محصولات ارگانیک</h5>
          </div><!-- End Section Title -->

          {% for item in latest_organic %}
          <div class="col-lg-4 col-md-6">
            <div class="offer-card" data-aos="zoom-in" data-aos-delay="200">
              <div class="offer-image">
                <img src="{% if item.product_photo %}{{ item.product_photo.url }}{% else %}{% static 'assets/img/DefaultImg/DefaultNews.png' %}{% endif %}" class="img-fluid">
              </div>
              <div class="offer-content">
                <h3>{{ item.product_name }}</h3>
                <p>{{ item.product_title|truncatewords:5 }}</p>
                <p>
                  <i class="bi bi-cash-stack"></i>
    قیمت:              {{ item.product_price }} تومان
                </p>
                <a href="{% url 'organic_products_detail' item.pk %}" class="btn-book">خرید</a>
              </div>
            </div>
          </div>
          {% endfor %}

        </div>
      </div>

    </section><!-- /Offer Cards Section -->

    <!-- Events Cards Section -->
    <section id="events-cards" class="events-cards section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>پروژه‌ها</h2>
        <p>
          با همت و تلاش ، ایرانی آباد خواهیم ساخت
        </p>
      </div><!-- End Section Title -->

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row g-4">

          <div class="col-lg-4 col-md-6" style="height: 335px;">
            <div class="event-item" data-aos="fade-up" data-aos-delay="200">
              <div class="event-header">
                <img src="{% static 'assets/img/hotel/event-1.webp' %}" alt="Wedding Celebrations" class="img-fluid">
              </div>
              <div class="event-content" style="margin: 30px;">
                <h4>
                <a href="{% url 'animal_feed_khoshab' %}">
                 زنجیره طلایی خوراک دام خوشاب
                </a>
                </h4>
              </div>
            </div>
          </div><!-- End Event Item -->

          <div class="col-lg-4 col-md-6" style="height: 335px;">
            <div class="event-item" data-aos="fade-up" data-aos-delay="200">
              <div class="event-header">
                <img src="{% static 'assets/img/hotel/event-4.webp' %}" alt="Business Conferences" class="img-fluid">
              </div>
              <div class="event-content" style="margin: 10px;">
                <h4> 
                <a href="{% url 'mother_chicken_farm' %}">
                 بزرگترین مزرعه مرغ مادر و جوجه یک روزه کشور  
                </a>
                </h4>
              </div>
            </div>
          </div><!-- End Event Item -->

          <div class="col-lg-4 col-md-6" style="height: 335px;">
            <div class="event-item" data-aos="fade-up" data-aos-delay="300">
              <div class="event-header">
                <img src="{% static 'assets/img/hotel/event-8.webp' %}" alt="Special Occasions" class="img-fluid">
              </div>
              <div class="event-content" style="margin: 20px;">
                <h4>
                <a href="{% url 'iaying_hen' %}">
                بزرگترین مجموعه مرغ تخم گذار کشور 
                </a>
                </h4>
              </div>
            </div>
          </div><!-- End Event Item -->

          <div class="col-lg-4 col-md-6" style="height: 335px;">
            <div class="event-item" data-aos="fade-up" data-aos-delay="100">
              <div class="event-header">
                <img src="{% static 'assets/img/hotel/event-5.webp' %}" alt="Corporate Retreats" class="img-fluid">
              </div>
              <div class="event-content" style="margin: 30px;">
                <h4>
                  <a href="{% url 'supplying_livestock' %}">
                    تامین و عرضه نهاده های دامی
                  </a>
                </h4>
              </div>
            </div>
          </div><!-- End Event Item -->

          <div class="col-lg-4 col-md-6" style="height: 335px;">
            <div class="event-item" data-aos="fade-up" data-aos-delay="200">
              <div class="event-header">
                <img src="{% static 'assets/img/hotel/event-6.webp' %}" alt="Entertainment Events" class="img-fluid">
              </div>
              <div class="event-content" style="margin: 30px;">
                <h4>
                  <a href="{% url 'animal_refinery' %}">
                    اولین پالایشگاه دام سبک و سنگین
                  </a>
                </h4>
              </div>
            </div>
          </div><!-- End Event Item -->

          <div class="col-lg-4 col-md-6" style="height: 335px;">
            <div class="event-item" data-aos="fade-up" data-aos-delay="300">
              <div class="event-header">
                <img src="{% static 'assets/img/hotel/event-9.webp' %}" alt="VIP Gatherings" class="img-fluid">
              </div>
              <div class="event-content" style="margin: 20px;">
                <h4>
                  <a href="{% url 'plant_refinery' %}">
                    اولین پالایشگاه گیاهان دارویی کشور
                  </a>
                </h4>
              </div>
            </div>
          </div><!-- End Event Item -->

        </div>

      </div>

    </section><!-- /Events Cards Section -->

  </main>

{% endblock %}
