{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block content %}

  <main class="main">

    <!-- Page Title -->
    <div class="page-title light-background">
      <div class="container d-lg-flex justify-content-between align-items-center">
        <h1 class="mb-2 mb-lg-0">{% trans "خرید و فروش نهاد های دامی" %}</h1>
        <nav class="breadcrumbs">
          <ol>
            <li><a href="{% url 'home' %}">{% trans "صفحه خانه" %}</a></li>
            <li class="current">{% trans "خرید و فروش نهاد های دامی" %}</li>
          </ol>
        </nav>
      </div>
    </div><!-- End Page Title -->

    <!-- Menu Section -->
    <section id="menu" class="menu section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>{% trans "نهاده های دامی باکیفیت تضمین کننده رونق تولید" %}</h2>
        <p>{% trans "تامین نهاد های دامی با کیفیت ستون فقرات صنعت دامپروری است . ذرت و جو و کنجاله سویا و منابع تغزیه دام نقشه حیاتی در تولید شیر و گوشت با کیفیت دارن . ما با اراِه بهترین نهاد ها به سلامتی دام و رونق کسب و کار شما می اندیشیم" %}</p>
      </div><!-- End Section Title -->

      <div class="container" data-aos="fade-up">

        <div class="isotope-layout" data-default-filter="*" data-layout="masonry" data-sort="original-order">

          <div class="menu-container isotope-container row gy-4">

            <!-- Regular Menu Items -->
            {% for purchase_livestock in obj %}
            <div class="col-lg-6 isotope-item filter-starters">
              <div class="menu-item d-flex align-items-center gap-4">
                <img src="{% if purchase_livestock.product_photo %} {{ purchase_livestock.product_photo.url }} {% else %} {% static 'assets/img/DefaultImg/DefaultNews.png' %} {% endif %}" alt="Starter" class="menu-img img-fluid rounded-3">
                <div class="menu-content">
                  <h5><a href="{% url 'purchase_livestock_detail' purchase_livestock.id %}">{{ purchase_livestock.product_name }}</a></h5>
                  <div class="price">${{ purchase_livestock.product_price }}</div>
                </div>
              </div>
            </div>
            {% endfor %}

          </div>

        </div>
      </div>
      <div class="about-container">
      
        <p>{% trans "شرکت راه ابریشم نو (شناسه ۱۴۰۱۲۸۴۲۹۱۲) در آذرماه ۱۴۰۲ با هدف تحول در صنعت کشاورزی و دامپروری و با سرمایه دو هزار میلیارد ریال تأسیس شد.​​​​​​​این شرکت، که تنها عامل رسمی فروش نهاده‌های دامی در سبزوار است، با دریافت مجوز از وزارت جهاد کشاورزی و بانک کشاورزی فعالیت خود را آغاز کرد" %}</p>


        <h5>{% trans "نکات کلیدی فعالیت:" %}</h5>
        <p>{% trans "تثبیت جایگاه: در مدت کوتاهی توانسته است با تکیه بر تیم حرفه‌ای، جایگاهی ثابت در زنجیره تأمین نهاده‌های دامی در شرق و شمال شرق کشور به دست آورد" %}</p>

        <p>{% trans "همکاری‌های استراتژیک: با بزرگترین واردکنندگان نهاده‌ها (مانند آوا تجارت صبا مدلل) قرارداد همکاری امضا کرده و نهاده‌های وارداتی را با قیمت رقابتی و کیفیت تضمین‌شده توزیع می‌کند." %}</p>

        <p>{% trans "مشتریان گسترده: خدمات خود را به اتحادیه‌ها، تعاونی‌ها، کارخانجات و دامداران/مرغداران در استان‌های مختلف (از جمله خراسان رضوی، شمالی، فارس، سمنان و آذربایجان غربی) ارائه می‌دهد که این گستردگی نشان‌دهنده رضایتمندی بالا از خدمات است." %}</p>

        <h5>{% trans "برنامه‌های آینده و چشم‌انداز:" %}</h5>
        <p>{% trans "برنامه اصلی شرکت، توسعه زنجیره ارزش یکپارچه دام و طیور است که شامل تأمین نهاده‌ها تا بازاریابی و حتی صادرات محصولات نهایی (گوشت، شیر، تخم مرغ) می‌شود. همچنین، شرکت خدمات مشاوره فنی، دامپزشکی و تغذیه‌ای را برای افزایش بهره‌وری تولیدکنندگان فراهم می‌کند. چشم‌انداز آینده شامل توسعه جغرافیایی، افزایش ظرفیت انبار و حمل و نقل، گسترش صادرات و مشارکت در پروژه‌های ملی است." %}</p>

        <p>{% trans "شرکت راه ابریشم نو با تأکید بر شفافیت، کیفیت و نوآوری، برای همکاری گسترده در سطح ملی و بین‌المللی آماده است." %}</p>
      </div>

    </section>
    
<nav aria-label="Page navigation">
  <ul class="pagination justify-content-center">

    {% if obj.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page={{ obj.previous_page_number }}" aria-label="Previous">&laquo;</a>
      </li>
    {% else %}
      <li class="page-item disabled"><span class="page-link">&laquo;</span></li>
    {% endif %}

    {% for num in obj.paginator.page_range %}
      {% if obj.number == num %}
        <li class="page-item active"><span class="page-link">{{ num }}</span></li>
      {% else %}
        <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
      {% endif %}
    {% endfor %}

    {% if obj.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{ obj.next_page_number }}" aria-label="Next">&raquo;</a>
      </li>
    {% else %}
      <li class="page-item disabled"><span class="page-link">&raquo;</span></li>
    {% endif %}

  </ul>
</nav>
  </main>
{% endblock %}